body {
  background-color: #f8f6ff;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

a {
  color: rgb(136, 93, 241);
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f8f6ff;
  padding: 30px;
}

.search-form-input-bar {
  background-color: #f8f6ff;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: rgb(136, 93, 241);
  padding: 15px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  color: white;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-left: 10px;
}

main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
  line-height: 24px;
}

.weather-app-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-emoji {
  width: 88px;
  height: 88px;
}

.weather-app-temperature-value {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}

.weather-unit {
  font-size: 28px;
  margin-top: 6px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.weather-forecast-weekday {
  text-align: center;
  justify-content: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
}

.weather-forecast-icon {
  width: 88px;
}

.weather-forecast-temperatures {
  text-align: center;
  display: flex;
  color: rgb(246, 82, 130);
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

#humidity {
  color: rgb(246, 82, 130);
}

#wind-speed {
  color: rgb(246, 82, 130);
}

footer {
  border-top: 1px solid #f8f6ff;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 10px;
  color: rgba (0, 0, 0, 0.6);
}
