.weather-title {
  text-align: center;
}

body {
  background-color: #fff1f5;
  justify-content: space-evenly;
  margin-bottom: 50px auto;
  display: block;
  padding-bottom: 20px;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

a {
  color: rgb(136, 93, 241);
}

.weather-app {
  background-color: white;
  max-width: 700px;
  margin: 10px auto;
  display: block;
  justify-content: space-between;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 20px;
}

header {
  border-bottom: 2px solid #f8f6ff;
  padding: 20px;
}

.search-form-input-bar {
  background-color: #fff1f5;
  border: none;
  border-radius: 6px;
  width: 85%;
  padding: 15px 18px;
  font-size: 16px;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.search-form-button {
  background-color: rgb(246, 82, 130);
  padding: 10px;
  margin-left: 15px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  color: white;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.search-form-button:hover {
  color: white;
  cursor: pointer;
}
main {
  padding: 20px;
  display: block;
  margin: auto;
  justify-content: space-evenly;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.city-container {
  display: block;
  justify-content: space-evenly;
}
.weather-app-city {
  font-size: 44px;
  font-weight: 500;
  line-height: 10px;
}

.weather-app-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
}

#humidity {
  color: rgb(246, 82, 130);
}

#wind-speed {
  color: rgb(246, 82, 130);
}

.weather-app-temperature-container {
  display: flex;
  justify-content: space-evenly;
}

.weather-emoji {
  width: 88px;
  height: 88px;
}

.weather-app-temperature-value {
  font-size: 96px;
  font-weight: bold;
  line-height: 88px;
}

.weather-unit {
  font-size: 28px;

  margin-top: 6px;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.weather-forecast-weekday {
  text-align: center;
  justify-content: space-between;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
}

.weather-forecast-icon {
  width: 88px;
  justify-content: space-evenly;
}

.weather-forecast-temperatures {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
  color: rgb(246, 82, 130);
}

.weather-forecast-temperature {
  padding: 10px;
  justify-content: space-evenly;
}

footer {
  border-top: 2px solid #f8f6ff;
  text-align: center;
  padding: 15px;
  margin-top: 10px;
  font-size: 12px;
  color: rgba (0, 0, 0, 0.6);
}
